- @compact_filter_form = true
.card.w-100.nodblclick
  .card-body
    ._compact-filter
      // FILTERING PROTOTYPES
      ._filter-input-field-prototypes.d-none
        - compact_filter_form_fields.each do |field|
          = haml_partial :compact_filter_input, field: field

      // FORM
      %form._compact-filter-form._filter-form{ filter_form_args }
        %input{ type: :hidden,
                name: "filter[not_ids]",
                class: "_not-ids",
                value: params.dig(:filter, :not_ids) }
        = render_compact_quick_filters
        .filter-and-sort.d-flex.flex-wrap
          = render_filter_sort_dropdown


          // FILTERING
          .filter-in-filter-form
            = icon_tag :filter, "filter-section-icon"
            ._filter-container.d-flex.flew-row.flex-wrap.align-items-start
              // FILTERS inserted here dynamically from prototypes

              // ADD FILTER DROPDOWN
              .dropdown._add-filter-dropdown.me-2
                %button.btn.btn-sm.btn-primary._filter-dropdown.dropdown-toggle{"aria-expanded": "false",
                                                                                "aria-haspopup": "true",
                                                                                "data-bs-toggle": "dropdown",
                                                                                type: "button" }
                  More Filters
                .dropdown-menu
                  - compact_filter_form_fields.each do |field|
                    %a{ class: "dropdown-item _filter-category-select",
                        href: "#",
                        "data-category": field[:key],
                        "data-label": field[:label],
                        "data-active": ("true" if field[:active])}
                      = field[:label]

              // RESET BUTTON
              ._reset-filter{ "data-reset": reset_filter_data }
                %button.btn.btn-sm.btn-secondary{ type: "button" }
                  = icon_tag :reset
