- if (quick_filters = quick_filter_list).present?
  .quick-filter._quick-filter

    = icon_tag :quick_filter, "filter-section-icon"
    .quick-filter-links.d-flex.flex-wrap
      - quick_filters.each do |hash|
        - f = quick_filter_item hash.clone, hash.keys.first
        %a{ "data-filter": f[:filter],
            href: "#",
            class: f[:class],
            title: "Quick Filter: #{f[:text]}" }
          = f[:icon]
          = f[:text]
      = custom_quick_filters
