

- panel_id = "#{card.name.safe_key}-#{item[:key]}-filter-bar"
.accordion-item.filter-bar
  %h2.accordion-header
    %button.accordion-button{ type: "button",
                              class: ("collapsed" unless item[:open]),
                              "data-bs-toggle": "collapse",
                              "data-bs-target": "##{panel_id}" }
      = filter_label item[:key]
  .accordion-collapse.collapse{ id: panel_id, class: ("show" if item[:open] ) }
    .accordion-body
      - if item[:type] == :group
        .accordion
          - item[:filters].each do |subitem|
            = filter_bar subitem
      - else
        = filter_input_field item[:key]
