.filtered-results-header._filtered-results-header
  %form{ filter_form_args }
    .filter-controls-and-stats.d-flex.justify-content-between.py-2
      .filter-controls.d-flex
        ._filters-button
          %button.btn.btn-sm.btn-primary.m-2{ type: "button",
            "data-bs": { toggle: "offcanvas", target: "##{offcanvas_filter_id}" } }
            Filter
        - if (removables = removable_filters)
          .filter-badges._filter-closers
            - removables.each do |key, value|
              - filter = filter_hash_without key, value
              %a.btn.btn-sm.btn-outline-secondary.m-2{ "data-filter": JSON(filter),
                                                       class: "close-filter-#{key}" }
                = "#{filter_label key}: "
                = filter_closer_value key, value

                = fa_icon :times, class: "ms-2"
            - if removables.size > 1
              %a.clear-filters.ms-2{ "data-filter": "{}", href: "#" }
                Clear All

      .filtered-results-stats
        = render_filtered_results_stats
    .filtered-results-visualization
      = render_filtered_results_visualization
    .filtered-content-controls.d-flex.justify-content-end
      = render_filter_sort_dropdown
