.filtered-results-header._filtered-results-header.my-3.card-menu-hoverspace
  %form.filtered-results-form{ filter_form_args }
    = render_menu_block optional: :hide
    .header-top-row.mb-4.d-flex.justify-content-between.align-items-start
      .filter-modifiers.w-100
        = render_quick_filters
        = render_filter_closers
      .filter-buttons.d-flex
        - filter_buttons.each do |button|
          .ms-3
            = render button

    .header-bottom-row.mb-2.mt-4.d-flex.justify-content-between.align-items-center
      = render_filtered_results_stats
      .sort-and-toggle.d-flex
        = render_filtered_results_nav
