.d-flex.justify-content-between.mb-2.p-3.bg-light.align-items-center
  .mapping-visibility
    %a._toggle-mapping-vis.font-italic{ href: "#" }
      %span._mapping-vis-name Hide
      Mapped
  .map-action-dropdown
    = map_action_dropdown map_type

%table.wikirate-table.import-table._import-table
  %thead
    %tr
      %th{ style: "width: 50px" }
        = check_box_tag "allImportMapItems"
        All
      %th
        in File
      %th
        on WikiRate
  %tbody
    - card.map[map_type].each do |name_in_file, cardname|
      %tr{ class: "_map-item #{cardname ? 'mapped' : 'unmapped'}-import-attrib" }
        %td
          = check_box_tag "importMapItem" unless cardname
        %td.in-file
          = name_in_file
        %td
          - if cardname == "AutoAdd"
            %em (AutoAdd)
          - elsif cardname.present?
            = nest cardname, view: item_view(map_type)
          - else
            = map_ui map_type, name_in_file
.d-flex.justify-content-end.py-3
  %span
    Export:
    = export_link map_type