-#.d-flex.justify-content-between.mb-2.p-3.bg-light.align-items-center
-#  .mapping-visibility
-#    %a._toggle-mapping-vis.font-italic{ href: "#" }
-#      %span._mapping-vis-name Hide
-#      Mapped
-#  .map-action-dropdown
-#    = map_action_dropdown map_type

- item_view = item_view map_type
- type_name = map_type.cardname

%table.table.import-table._import-table
  %thead
    %tr
      %th.col-1
        = check_box_tag "allImportMapItems"
      %th.col-4
        = type_name
        to Import
      %th.col-4
        = type_name
        on WikiRate
      %th.col-2
        Status
      %th.col-1.text-right
        %i.fa.fa-ellipsis-h

  %tbody
    - card.map[map_type].each do |name_in_file, cardid|
      - cardname = cardid&.cardname
      - if cardname
        -#%tr{ class: "_map-item #{cardname ? 'mapped' : 'unmapped'}-import-attrib" }
        %tr._import-map-item{ "data-status": "matched"}
          %td
          %td.in-file
            = name_in_file
          %td
            = nest cardname, view: item_view
          %td
            Match
          %td.text-right
            (suggest)
      - else
        - suggestions = []
        - if suggestions.empty?

          %tr._import-map-item{ "data-status": "nosuggest"}
            %td
            %td.in-file
              = name_in_file
            %td
              \--
            %td
              No Match
            %td.text-right
              (add) (suggest)


.d-flex.justify-content-end.py-3
  %span
    Export:
    = export_link map_type
