._import-status-form
  .import-status-buttons.py-2.d-flex.justify-content-between
    .checkboxipants
      = check_box_tag '_check-all', '', false, class: 'checkbox-button'
      = label_tag '_check-all', 'all'
    .submitipants
      = submit_button text: "Cool Import", class: "mr-2"
      = submit_button name: :conflict_strategy, value: "override", text: "Hot Import"
  .status-table-section
    = table
