._import-status-form
  = hidden_field_tag :tab, status
  .import-status-buttons.py-2.d-flex.justify-content-between
    .import-status-checkbox
      = check_box_tag '_check-all', '', false, class: '_check-all checkbox-button'
      = label_tag '_check-all', 'all'
    .import-status-radio
      %span.preface
        If exists:
      = radio_button_tag :conflict_strategy, "skip", true
      = label_tag :conflict_strategy, "Keep"
      = radio_button_tag :conflict_strategy, "override", false
      = label_tag :conflict_strategy, "Override"
    .import-status-submit
      = submit_button text: "Import"
  .status-table-section
    = table
